.image-text-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 1200px;
  margin: 20px auto;
  border-bottom: 1px solid #a7a498;
  padding-bottom: 20px;
}

h2{
  font-family: 'CustomFont4';
  font-weight: lighter;
  font-size: 2.5em;
  color: rgb(184, 169, 151);
  text-align: center;
  margin-top: 40px;
}

.image-text-row img {
  width: 40%;
  height: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.image-text-row .text-container {
  width: 55%;
  padding-left: 20px;
}

.image-text-row .text-container h3 {
  font-family: 'CustomFont3', sans-serif;
  font-size: 1.3em;
  margin: 2px 0;
  color: rgb(84,155,109);
  transition: color 0.3s ease;
}

.image-text-row .text-container p {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 3px;
  margin-top: 3px;
  color: rgb(234, 224, 213);
  font-family: 'CustomFont3', sans-serif;
}

.bookmark-sidebar {
  font-family: 'CustomFont3', sans-serif;
  margin-top: 20px;
  margin-left: 0px;
  position: fixed;
  width: 130px;
  background-color: rgb(48, 93, 63);
  padding: 5px;
  border-radius: 3px;
  z-index: 800;
  opacity: 1;
  background-image: url("../Images/Background/Test2.png");
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.bookmark-sidebar:hover{
  transform: scale(1.05);
}

.bookmark-sidebar ul {
  list-style: none;
  padding: 0;
}

.bookmark-sidebar ul li a {
  font-family: 'CustomFont3', sans-serif;
  font-weight: lighter;
  font-size: 1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display:flex;
  transition: color 0.3s ease;
}

.bookmark-sidebar ul li a:hover {
  color: rgb(184, 169, 151);
}

.image-text-row .text-container .website-link a:hover {
  color: #229641; 
  text-decoration: underline;
}

@media (max-width: 768px) {
  .image-text-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-text-row img,
  .image-text-row .text-container {
    width: 100%;
    padding-left: 0;
  }
}


@media (max-width: 768px) {
  .image-text-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-text-row img,
  .image-text-row .text-container {
    width: 100%;
    padding-left: 0;
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('../Fonts/Classy1.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont2';
  src: url('../Fonts/Classy2.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont3';
  src: url('../Fonts/ShortWide.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont4';
  src: url('../Fonts/ThinLong.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}
