/* footer.css */
footer {
    background-color: rgb(228, 216, 203);
    color: rgb(182,153,133);
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  
  footer span, 
  footer a {
    color: rgb(163, 137, 120);
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Flexibility for footer placement */

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
