body, html {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'CustomFont2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(28, 34, 53);
    color: rgb(255, 255, 255);
    /* background-image: url("../Images/Background/Test2.png"); */
  }
  
.header-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 50px; 
    background-image: url("../Images/Background/Test2.png");
}

.header-container h1 {
    font-family: 'CustomFont2';
    font-weight: lighter;
    font-size: 2.5em;
    color: rgb(221, 205, 187);
    text-align: center;
}

.header-icon {
    width: 120px; 
    height: auto; 
    margin-left: -50px;
    opacity: 0.8;
}

.golf-club-left:hover {
    animation: rotateClubLeft 1.5s ease-in-out;
}

.golf-club-right:hover {
    animation: rotateClubRight 1.5s ease-in-out;
}


@keyframes rotateClubLeft {
    
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg); 
    }
    50% {
        transform: rotate(-20deg); 
    }
    75% {
        transform: rotate(10deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}

@keyframes rotateClubRight {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(-30deg); 
    }
    50% {
        transform: rotate(20deg); 
    }
    75% {
        transform: rotate(-10deg); 
    }
    100% {
        transform: rotate(0deg);
    }
}
  
a {
    color: inherit;
  }
  
  @font-face {
    font-family: 'CustomFont';
    src: url('../Fonts/Classy1.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'CustomFont2';
    src: url('../Fonts/Classy2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'CustomFont3';
    src: url('../Fonts/ShortWide.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'CustomFont4';
    src: url('../Fonts/ThinLong.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
  }


  