h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #4ea874;
    font-weight: lighter;
    font-family: 'CustomFont4', sans-serif;
    letter-spacing: 8px;
}

h3 {
    color: rgb(221, 205, 187); /* Match your color */
    font-family: 'CustomFont4', sans-serif;
    letter-spacing: 8px;
    text-align: center;
    font-size: 2em;
    opacity: 0.9;
}

#bubble-chart {
    text-align: center;/* Center the chart to align with overall layout and improve presentation */
    margin-bottom: -10px;
}

#controls {
    text-align: center;
    margin-bottom: 20px;
}

.description-container {
    text-align: center;
}

.description-container p {
    font-size: 18px;
    color: rgb(221, 205, 187);
    font-family: 'CustomFont3', sans-serif;
    padding-left: 290px;
    padding-right: 290px;
    line-height: 1.5;
    text-align: justify;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 34, 53);
    z-index: 1000; /* Ensure it is on top */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'CustomFont3', sans-serif; /* Match your font */
    font-size: 18px;
    color: rgb(221, 205, 187); /* Match your color */
    background-image: url("../Images/Background/Test2.png");
}

@font-face {
    font-family: 'CustomFont4';
    font-weight: bolder;
    src: url('../Fonts/ThinLong.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'CustomFont3';
    src: url('../Fonts/ShortWide.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
